/*------------------------------------*\
    #CONTACT 
\*------------------------------------*/

.contact-panel {
    position: relative;
}

.contact--icon {
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #e1e1e1;
    font-family: $font-heading;
    @include prefix(transform,rotate(-90deg), moz webkit);
}

.contact--content {
    padding-left: 70px;

    h3 {
        font-size: 15px;
        text-transform: uppercase;
        color: $color-black;
        margin-bottom: 7px;
    }

    li {
        font-size: 15px;
        line-height: 26px;
        color: $color-gray;

        a {
            color: $color-gray;

            &:hover{
                color: $color-theme;
            }
        }
    }
}

.contact-result{
    margin-top: 15px;
}

/* contact #2 */

.contact-2 textarea.form-control {
    height: 170px;
}

/* contact #3 */

.contact-3 {
    .heading-2 {
        position: absolute;
        top: 50%;
        right: -130px;
        @include prefix(transform,translateY(-50%), moz webkit);
        z-index: 2;
        width: 350px;

        .heading--subtitle {
            color: $color-theme;
        }
    }

    .contact--content {
        padding-left: 0;
        margin-bottom: 48px;

        h3 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 40px;
        }

        li {
            font-weight: 700;
        }
    }

    h3 {
        font-size: 24px;
        margin-bottom: 38px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        border: none;
        height: 40px;
        border-radius: 20px;
        background-color: #f1f8fc;
        padding-left: 25px;
        max-width: 370px;
    }

    textarea.form-control {
        height: 140px;
    }    
}

/* contact #4 */
.contact-4 {
    .info--panel{
        i {
            font-size: 18px;
            color: $color-black;
            padding-right: 14px;
        }

        a {
            font-size: 16px;
            color: $color-black;
            font-weight: 700;
            display: inline-block;
        }

        .social--icons{
            text-align:right;
             a {
            margin: 0 0 0 14px;

                i {
                    font-size: 16px;
                    color: $color-body;
                    padding: 0;
                    margin: 0;

                    &:hover {
                        color: $color-theme;
                    }
                }
            }
            
        }
    }
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .contact-3 .heading-2 {
        left: 20px;
        right: auto;
        width: 100%;
    }

    .contact-4 {
        .info--panel {
            margin-bottom: 20px;
            text-align:center;    
            .social--icons{
                text-align:center;
            }
        }
    }
    .contact-panel{
        margin-bottom: 30px;
    }
    .contact--icon {
        font-size: 50px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-3 .heading-2 {
        left: 30px;
        right: auto;
        width: 100%;
    }

    .contact-4 .info--panel {
        text-align: center;
    }
    .contact-panel{
        margin-bottom: 30px;
    }
}