/*------------------------------------*\
    #Menu
\*------------------------------------*/
.header{
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        min-height: 100px;
        border: none;
        z-index: 1030;
        padding: 0;
    }

    .navbar-bordered {
        border-bottom: 1px solid #ebebeb;
    }

    .navbar-brand{
        padding: 0;
    }

    .navbar-nav {
        > li {
            margin-right: 30px;
            position: relative;

            > a {
                font-family: $font-heading;
                font-size: 14px;
                text-transform: capitalize;
                font-weight: 500;
                line-height: 100px;
                color: #707070;
                padding: 0;
                position: relative;
            }
        }
    }  
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: transparent;
    border: none;
}

.navbar-nav > li.active > ul {
    margin-top: 0;
}

.navbar-nav > li.active > a,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
    background-color: transparent;
    color: $color-theme
}

/* Menu Level #1 */
.dropdown-toggle::after {
    display: none;
}


/* Menu Levels */

.dropdown-menu {
    background-color: transparent;
    position: relative;
    width: 100%;
    border: none;
    @include prefix(box-shadow, none, moz webkit);
}

.header-light .navbar .module .module-icon i,
.header-transaprent .navbar .module .module-icon i .header-light .navbar .navbar-nav > li > a {
    color: #000;
}


/* header white */
.header-white .module .module-icon i,
.header-white .module-dropdown button,
.header-white .navbar-nav > li > a {
    color: $color-white;
}

.header-white .module-dropdown-menu,
.header-white .navbar-nav > li > .menu-item:hover::before,
.header-white .navbar-nav > li.active > .menu-item:before {
    background-color: $color-white;
}

.header-white .module-dropdown-menu .dropdown-item {
    border-bottom: 1px solid #ededed;
}

.header-white .module-dropdown-menu .dropdown-item:hover {
    color: $color-theme;
}


.header-12 .navbar>.container{
    position: relative;
 }
.header-12 .navbar>.container:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: #ebebeb;
}


