

$color-theme: 				#606da6;
$color-hover:               #475696;
$color-red:                 #f26c4f;
$color-body:				#a1a1a1;
$color-heading:				#000000;
$color-secondary:			#363636;
$color-gray:	            #7d7d7d;
$color-gray-2:	            #efefef;

$baseline: 						 20px;


$line-height-base:				 1.5;
$line-height-content:			 1.8;
$font-body:						 'Lato', sans-serif;
$font-heading:					 'Montserrat', sans-serif;
$font-secondary:                 'Open Sans', sans-serif;
$font-thirdy:                 	 'Open Sans', sans-serif;
$decoration-base:  				  none;


$font-size-base:				13px;
$font-size-h1:                 	52px;
$font-size-h2:                  42px;
$font-size-h3:                  38px;
$font-size-h4:                  32px;
$font-size-h5:                  24px;
$font-size-h6:                  18px;

$background-base:				  no-repeat center center fixed;
$background-size-base:			  cover;


$awesome:					fontawesome;


$color-white:				white;
$color-black:				#000000;
$color-dark:				#252525;
$color-dark2:     			#282828;
$color-dark3:     			#3d3c3c;